.body {
    background: linear-gradient(287.56deg, #bb00ff 0%, #870874 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
}

h1 {
    color: #f6d0f0;
    font-size: 3.1rem;
    font-family: "Montserrat", sans-serif;
    animation: pulse 2s infinite;
}

button {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-color: #623772;
    background-color: #e7c3e7;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permitir que as fotos quebrem a linha conforme necessário */
    margin-top: 10px;
}

#videoContainer {
    margin: 0 20px;
    margin-top: -200px;
}

.photos {
    display: flex;
    padding: 100px;
    margin-top: -135px;
    overflow-x: auto; /* Permitir rolagem horizontal se houver muitas fotos */
    max-width: 100%; /* Garantir que as fotos não excedam a largura máxima */
}

.floating-photo {
    width: 250px;
    height: 280px;
    object-fit: cover;
    margin: 10px;
    animation: float 3s infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
