body {
    background: linear-gradient(287.56deg, #bb00ff 0%, #870874 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    margin: 0;
}

h1 {
    color: #f6d0f0;
    font-size: 3.1rem;
    font-family: "Montserrat", sans-serif;
    animation: pulse 2s infinite;
    margin-top: 20px;
    padding: 10px;
}

button {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-color: #623772;
    background-color: #e7c3e7;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Ajusta o conteúdo para cima */
}

#videoContainer {
    margin: 0 20px;
    margin-top: -70px;
}

.timeline {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: -20px;
    overflow-x: auto; /* Habilita rolagem horizontal para dispositivos menores */
    padding: 20px 10px; /* Reduz o preenchimento horizontal em dispositivos menores */
    width: 100%; /* Garante que a .timeline ocupa a largura total do dispositivo */
}

.floating-photo {
    width: 300px; /* Largura fixa para todas as imagens */
    height: 280px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Mantém a proporção da imagem */
    margin: 0 10px; /* Espaçamento horizontal entre as fotos */
    animation: float 6s linear infinite; /* Mantém a animação de flutuação */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Permite ajuste automático da altura para manter a proporção */
}

@keyframes float {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-600%); } /* Move as fotos para a esquerda */
}